node-red-archive/nodes
[{"id":"d2af9eab.2fc5e","type":"tab","label":"Plant","disabled":false,"info":""},{"id":"24accc97.c62744","type":"tab","label":"Animal","disabled":false,"info":""},{"id":"371411bb.a068d6","type":"tab","label":"Fish","disabled":false,"info":""},{"id":"5a564dd4.ed064c","type":"tab","label":"Emergency Flows","disabled":false,"info":""},{"id":"390f3385.b13d7c","type":"tab","label":"Table View","disabled":false,"info":""},{"id":"752dfc88.dfa3dc","type":"tab","label":"Loggers","disabled":false,"info":""},{"id":"337bcaeb.53d7ee","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"17ba92b5.09dbad","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b58d0b45.89fce","type":"ui_group","z":"","name":"Animal_Light","tab":"17ba92b5.09dbad","order":3,"disp":true,"width":"5","collapse":false},{"id":"695be976.e97b1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#007991","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#007991","edited":true},"page-titlebar-backgroundColor":{"value":"#007991","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#00b9dd","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#007991","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node Farm 2.4","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":46,"sy":46,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"59139424.48816c","type":"ui_group","z":"","name":"Plant","tab":"17ba92b5.09dbad","order":2,"disp":true,"width":"6","collapse":false,"info":"hello"},{"id":"1d3bff81.a0411","type":"ui_group","z":"","name":"Fish","tab":"17ba92b5.09dbad","order":4,"disp":true,"width":"6","collapse":false},{"id":"406664fc.376394","type":"ui_tab","z":"","name":"Plant","icon":"spa","order":3,"disabled":false,"hidden":false},{"id":"cf63ace0.8be878","type":"ui_group","z":"","name":"Plant","tab":"406664fc.376394","order":1,"disp":true,"width":8,"collapse":false},{"id":"721cd1ee.3e1ac8","type":"ui_group","z":"","name":"Home","tab":"17ba92b5.09dbad","order":5,"disp":true,"width":"6","collapse":false},{"id":"67f9318b.e1cb4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1602204f.0f9bb","type":"ui_tab","z":"","name":"Animal","icon":"adb","order":4,"disabled":false,"hidden":false},{"id":"be5f4bed.38318","type":"ui_group","z":"","name":"Animal","tab":"1602204f.0f9bb","order":1,"disp":true,"width":"9","collapse":false},{"id":"2338df17.82e9a","type":"ui_group","z":"","name":"Maintenance","tab":"17ba92b5.09dbad","order":1,"disp":true,"width":17,"collapse":true},{"id":"125562e.51e6a1d","type":"ui_tab","z":"","name":"Report","icon":"report_problem","order":6,"disabled":false,"hidden":false},{"id":"16117b28.d1bc5d","type":"ui_group","z":"","name":"Report an emergency","tab":"125562e.51e6a1d","order":1,"disp":false,"width":"15","collapse":false},{"id":"331d43c9.36a5d4","type":"ui_spacer","name":"spacer","group":"16117b28.d1bc5d","order":2,"width":15,"height":1},{"id":"57c60286.5471d4","type":"ui_tab","z":"","name":"About","icon":"info","order":8,"disabled":false,"hidden":false},{"id":"aafe4801.8e5ca","type":"ui_group","z":"","name":"Info","tab":"57c60286.5471d4","order":1,"disp":false,"width":17,"collapse":false},{"id":"375922dd.e4223e","type":"ui_tab","z":"","name":"Table View","icon":"view_module","order":2,"disabled":false,"hidden":false},{"id":"1d6aadde.2ada52","type":"ui_group","z":"","name":"Plant","tab":"375922dd.e4223e","order":1,"disp":true,"width":6,"collapse":false},{"id":"ab97508d.c917a","type":"ui_group","z":"","name":"Animal","tab":"375922dd.e4223e","order":2,"disp":true,"width":"6","collapse":false},{"id":"d26b25d2.23c7c","type":"ui_group","z":"","name":"Fish","tab":"375922dd.e4223e","order":3,"disp":true,"width":"6","collapse":false},{"id":"66cffaf8.de80d4","type":"ui_group","z":"","name":"Home","tab":"375922dd.e4223e","order":4,"disp":true,"width":"6","collapse":false},{"id":"df843cf3.4e34a","type":"ui_group","z":"","name":"Emergency Text","tab":"375922dd.e4223e","order":6,"disp":true,"width":"12","collapse":false},{"id":"155e266b.011f32","type":"ui_tab","z":"","name":"Dev.","icon":"developer_mode","order":7,"disabled":false,"hidden":false},{"id":"b7d20b5b.081758","type":"ui_group","z":"","name":"Clear Log","tab":"155e266b.011f32","order":1,"disp":true,"width":"6","collapse":false},{"id":"5aac55e2.86337c","type":"ui_group","name":"pH Censer","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"df43ab79.f47478","type":"ui_group","name":"pH Censer","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d79651e.cc4cab","type":"ui_group","name":"pH Censer","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"85d70d88.557f3","type":"ui_group","z":"","name":"Animal_Temp","tab":"17ba92b5.09dbad","order":6,"disp":true,"width":"6","collapse":false},{"id":"147c21cd.c2d5a6","type":"ui_tab","z":"","name":"Fish","icon":"local_drink","order":5,"disabled":false,"hidden":false},{"id":"511886c0.596688","type":"ui_group","z":"","name":"Water Opecity","tab":"147c21cd.c2d5a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b76e9b8.d564e8","type":"ui_group","name":"Tempurature","tab":"31c87fce.8dae9","order":1,"disp":true,"width":"6","collapse":false},{"id":"31c87fce.8dae9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"29ca5537.2ac112","type":"ui_tab","z":"","name":"Tab 10","icon":"Home","order":10,"disabled":false,"hidden":false},{"id":"b76a97f3.75ef88","type":"ui_group","name":"light_graph","tab":"b2df3639.c79bb8","order":1,"disp":true,"width":"30","collapse":false},{"id":"6d009dd7.29f714","type":"ui_group","name":"temp_graph","tab":"c455a046.7ff2f8","order":2,"disp":true,"width":"30","collapse":false},{"id":"b1534770.4de148","type":"ui_group","name":"light_value","tab":"721c45bc.0e51c4","order":2,"disp":true,"width":"30","collapse":false},{"id":"ff9310c1.afce6","type":"ui_group","name":"temp_value","tab":"88200dc2.8bc8e8","order":1,"disp":true,"width":"30","collapse":false},{"id":"48703ce5.b2b7fc","type":"ui_group","name":"humid_value","tab":"f3aa80aa.aba86","order":1,"disp":true,"width":"30","collapse":false},{"id":"f7776169.bf9908","type":"ui_group","name":"humid_graph","tab":"fd713ebe.da76a8","order":1,"disp":true,"width":"30","collapse":false},{"id":"1fdfd52d.1ed173","type":"ui_group","name":"acid-base_gauge","tab":"52ecb92.f9b95c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"db649ca5.bf9808","type":"ui_group","name":"acid-base_value","tab":"e9e76a05.240028","order":1,"disp":true,"width":"30","collapse":false},{"id":"aab6edd6.33d4f","type":"ui_group","name":"acid-base_graph","tab":"406541ab.7511f","order":1,"disp":true,"width":"30","collapse":false},{"id":"734c0b12.6cc424","type":"ui_group","name":"humid_gauge","tab":"55470308.66df14","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2df3639.c79bb8","type":"ui_tab","name":"light_graph","icon":"dashboard","disabled":false,"hidden":false},{"id":"c455a046.7ff2f8","type":"ui_tab","name":"temp_graph","icon":"dashboard","disabled":false,"hidden":false},{"id":"721c45bc.0e51c4","type":"ui_tab","name":"light_value","icon":"dashboard","disabled":false,"hidden":false},{"id":"88200dc2.8bc8e8","type":"ui_tab","name":"temp_value","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3aa80aa.aba86","type":"ui_tab","name":"humid_value","icon":"dashboard","disabled":false,"hidden":false},{"id":"fd713ebe.da76a8","type":"ui_tab","name":"humid_graph","icon":"dashboard","disabled":false,"hidden":false},{"id":"52ecb92.f9b95c8","type":"ui_tab","name":"acid-base_gauge","icon":"dashboard","disabled":false,"hidden":false},{"id":"e9e76a05.240028","type":"ui_tab","name":"acid-base_value","icon":"dashboard","disabled":false,"hidden":false},{"id":"406541ab.7511f","type":"ui_tab","name":"acid-base_graph","icon":"dashboard","disabled":false,"hidden":false},{"id":"55470308.66df14","type":"ui_tab","name":"humid_gauge","icon":"dashboard","disabled":false,"hidden":false},{"id":"be33ae14.95dfa","type":"inject","z":"371411bb.a068d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":620,"wires":[["4fac9aaf.c31f54"]]},{"id":"a1679544.7ea22","type":"http in","z":"371411bb.a068d6","name":"","url":"/dataout_fish","method":"get","upload":false,"swaggerDoc":"","x":570,"y":60,"wires":[["1953a525.389143"]]},{"id":"1953a525.389143","type":"function","z":"371411bb.a068d6","name":"","func":"msg.payload = {\"fi_kun\":global.get(\"fi_kun\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":60,"wires":[["bb871297.8289e8"]]},{"id":"bb871297.8289e8","type":"http response","z":"371411bb.a068d6","name":"/200","statusCode":"","headers":{},"x":1000,"y":60,"wires":[]},{"id":"6d790c7a.70612c","type":"http in","z":"371411bb.a068d6","name":"","url":"datain_fish","method":"get","upload":false,"swaggerDoc":"","x":560,"y":160,"wires":[["865ddc6c.b2c1a"]]},{"id":"865ddc6c.b2c1a","type":"function","z":"371411bb.a068d6","name":"","func":"global.set(\"fi_kun\",msg.payload.fi_kun);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":160,"wires":[["bb871297.8289e8"]]},{"id":"c8264f1a.49b6a8","type":"ui_gauge","z":"371411bb.a068d6","name":"","group":"1d3bff81.a0411","order":1,"width":0,"height":0,"gtype":"gage","title":"Water kun","label":"0 = ใส 1 = ขุ่น","format":"{{msg.payload.aw1}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":580,"wires":[]},{"id":"441b7685.f28948","type":"http in","z":"5a564dd4.ed064c","name":"emergency OUT","url":"/emergency_out","method":"get","upload":false,"swaggerDoc":"","x":300,"y":220,"wires":[["a1b68d9a.1c387"]]},{"id":"80cf6dff.614d28","type":"http in","z":"5a564dd4.ed064c","name":"","url":"/emergency_in","method":"get","upload":false,"swaggerDoc":"","x":310,"y":340,"wires":[["899841f1.0b6cc"]]},{"id":"899841f1.0b6cc","type":"function","z":"5a564dd4.ed064c","name":"Unpack JSON","func":"global.set(\"em\",msg.payload.em);\nglobal.set(\"s\",msg.payload.s);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["78b0f8d4.b2af68","fda5a4b4.d79c78","e63c9dbb.69bb4","edcc8411.f226e8"]]},{"id":"a1b68d9a.1c387","type":"function","z":"5a564dd4.ed064c","name":"pack to JSON","func":"msg.payload = {\"em\":global.get(\"em\"), \"s\":global.get(\"s\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["78b0f8d4.b2af68"]]},{"id":"78b0f8d4.b2af68","type":"http response","z":"5a564dd4.ed064c","name":"/200","statusCode":"","headers":{},"x":780,"y":200,"wires":[]},{"id":"60ab9b98.3b6c6c","type":"ui_text","z":"5a564dd4.ed064c","group":"2338df17.82e9a","order":1,"width":0,"height":0,"name":"","label":"Emergency Text : ","format":"{{msg.payload}}","layout":"row-left","x":900,"y":440,"wires":[]},{"id":"a65c6f4b.9857c","type":"function","z":"5a564dd4.ed064c","name":"Sent 'em'","func":"msg.payload = global.get(\"em\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":440,"wires":[["60ab9b98.3b6c6c"]]},{"id":"f73fb6ff.196ee8","type":"inject","z":"5a564dd4.ed064c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":460,"wires":[["a65c6f4b.9857c","cc32358d.4ae778"]]},{"id":"ea7dd98d.51133","type":"ui_button","z":"5a564dd4.ed064c","name":"Clear button","group":"2338df17.82e9a","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"Click to clear an emergency text.","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":370,"y":400,"wires":[["79b8a1c3.59ba1"]]},{"id":"79b8a1c3.59ba1","type":"function","z":"5a564dd4.ed064c","name":"Clear Emergency Text ","func":"global.set(\"em\",'-');\nglobal.set(\"s\",'-');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["78b0f8d4.b2af68","edcc8411.f226e8"]]},{"id":"c82a54e0.0c1688","type":"ui_toast","z":"5a564dd4.ed064c","position":"top right","displayTime":"12","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":300,"wires":[]},{"id":"fda5a4b4.d79c78","type":"function","z":"5a564dd4.ed064c","name":"Invert to notificationalable","func":"msg.topic = 'Emergency!!!!';\na = global.get('em');\nb = global.get('s');\n\nmsg.payload = (a + \" (from \" + b + \")\")\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":300,"wires":[["c82a54e0.0c1688"]]},{"id":"e63c9dbb.69bb4","type":"function","z":"5a564dd4.ed064c","name":"Notification Sound","func":"msg.payload = 'Ding ding ding ding ding ding ding ding ding ding ding ding ding, There is an emergency text comming right to you';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":360,"wires":[["cf2f13b.efeb47"]]},{"id":"cf2f13b.efeb47","type":"ui_audio","z":"5a564dd4.ed064c","name":"","group":"2338df17.82e9a","voice":"com.apple.speech.synthesis.voice.Cellos","always":true,"x":1060,"y":360,"wires":[]},{"id":"6ff7366.06adcc8","type":"ui_form","z":"5a564dd4.ed064c","name":"","label":"Sent an emergency Text","group":"16117b28.d1bc5d","order":1,"width":0,"height":0,"options":[{"label":"type an emergency text here.","value":"em","type":"text","required":false,"rows":null}],"formValue":{"em":""},"payload":"","submit":"report","cancel":"cancel","topic":"","x":330,"y":300,"wires":[["9b02c853.31c2f"]]},{"id":"2b332ca5.126cbc","type":"ui_template","z":"5a564dd4.ed064c","group":"aafe4801.8e5ca","name":"Vertion Page","order":1,"width":0,"height":0,"format":"<style>\nh1 {text-align: center;}\nh3 {text-align: center;}\nh5 {text-align: center;}\n</style>\n\n<h1> Node Farm </h1>\n<h3> Vertion 3.0</h3>\n<br>\n<h4> What's new in this vertion :</h4>\n<h5>Everything will work!</h5>\n<p>1. Enhanced an emergency system, so now there is a notification pop-up with sound.</p>\n<p>2. Added \"Report\" tab to report an emergency with ease.</p>\n<p>3. Revamped the UI and enchanted UX</p>\n<p>4. Add table view to more nerds to view.</p>\n<p>5. Add data logger than can archive all information and data for access.</p>\n<p>6. Add delete logger button to erase a logger easer than before.</p>\n<p>7. More bux fixes.</p>\n<br>\n<h4> Creadits :</h4>\n<p>Farm Node : Khaow Pon, Audi</p>\n<p>Thanks to : Earth, Dot, Ohm, Volk, เกื้อ, Ton Khaow, Mon, Phoom and Gifted Computer Gen 15th  </p>\n<p> Spicial Thanks to : Kru Sumath and Phi Phran </p>\n<p> Very Spicial Thanks to : Mijune the small cat, Cha-em the quite big cat and O-liang the black cat \n<br><br><br>\n<h5>Copyright © 2019–2021 Gifted Computer gen 14th. <br>\nAll rights reserved.</h5>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":640,"wires":[[]]},{"id":"f1219190.e567b","type":"ui_table","z":"390f3385.b13d7c","group":"1d6aadde.2ada52","name":"Plants","order":1,"width":6,"height":3,"columns":[],"outputs":0,"cts":false,"x":510,"y":220,"wires":[]},{"id":"b42cf7ae.68401","type":"inject","z":"390f3385.b13d7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["d258437c.d164","71f2ffd7.f3a89","5d9d0f7b.6fc51","8599585e.7ce2c8","c6340ea6.fed95"]]},{"id":"d258437c.d164","type":"function","z":"390f3385.b13d7c","name":"PLs","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        \"Name\": \"pl_light\",\n        \"Data\": global.get(\"pl_light\")\n    },\n    {\n        \"Name\": \"pl_humid\",\n        \"Data\": global.get(\"pl_humid\")\n    },\n    {\n        \"Name\": \"pl_temp\",\n        \"Data\": global.get(\"pl_temp\")\n    },\n    {\n        \"Name\": \"pl_pH\",\n        \"Data\": global.get(\"pl_pH\")\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["f1219190.e567b"]]},{"id":"71f2ffd7.f3a89","type":"function","z":"390f3385.b13d7c","name":"ANs","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        \"Name\": \"an_light\",\n        \"Data\": global.get(\"an_light\")\n    },\n    {\n        \"Name\": \"an_temp\",\n        \"Data\": global.get(\"an_temp\")\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["264b900e.c869e"]]},{"id":"264b900e.c869e","type":"ui_table","z":"390f3385.b13d7c","group":"ab97508d.c917a","name":"Animal","order":1,"width":6,"height":3,"columns":[],"outputs":0,"cts":false,"x":500,"y":260,"wires":[]},{"id":"5d9d0f7b.6fc51","type":"function","z":"390f3385.b13d7c","name":"FIs","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        \"Name\": \"fi_kun\",\n        \"Data\": global.get(\"fi_kun\")\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["f61ec920.1a6df"]]},{"id":"f61ec920.1a6df","type":"ui_table","z":"390f3385.b13d7c","group":"d26b25d2.23c7c","name":"Fish","order":1,"width":6,"height":3,"columns":[],"outputs":0,"cts":false,"x":500,"y":300,"wires":[]},{"id":"8599585e.7ce2c8","type":"function","z":"390f3385.b13d7c","name":"HOMEs","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        \"Name\": \"home_light\",\n        \"Data\": global.get(\"home_light\")\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":340,"wires":[["8d8af401.d1a8b8"]]},{"id":"8d8af401.d1a8b8","type":"ui_table","z":"390f3385.b13d7c","group":"66cffaf8.de80d4","name":"Home","order":1,"width":6,"height":3,"columns":[],"outputs":0,"cts":false,"x":500,"y":340,"wires":[]},{"id":"c6340ea6.fed95","type":"function","z":"390f3385.b13d7c","name":"em","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        \"Name\": \"Emergency text\",\n        \"Data\": global.get(\"em\")\n    },\n    {\n        \"Name\": \"Sorce\",\n        \"Data\": global.get(\"s\")\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["8107e261.58311"]]},{"id":"8172d00b.20f588","type":"ui_table","z":"390f3385.b13d7c","d":true,"group":"df843cf3.4e34a","name":"Emergency Text","order":1,"width":12,"height":1,"columns":[],"outputs":0,"cts":false,"x":680,"y":300,"wires":[]},{"id":"27d1208e.35ef6","type":"ui_button","z":"390f3385.b13d7c","name":"","group":"df843cf3.4e34a","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"Click to clear an emergency text.","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":330,"y":480,"wires":[["edadfa3d.3380c"]]},{"id":"edadfa3d.3380c","type":"function","z":"390f3385.b13d7c","name":"","func":"global.set(\"em\",'-');\nglobal.set(\"s\",'-');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":480,"wires":[["7b5e49cd.bcf938"]]},{"id":"7b5e49cd.bcf938","type":"http response","z":"390f3385.b13d7c","name":"/200","statusCode":"","headers":{},"x":590,"y":480,"wires":[]},{"id":"edcc8411.f226e8","type":"function","z":"5a564dd4.ed064c","name":"make time stamp + data JSON","func":"var d = new Date();\nvar t = d.getTime();\n\npayload = {\n    \"date\":d, \n    \"time\":t,\n    \"text\":global.get('em'),\n    \"sorce\":global.get('s')\n}\n\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":240,"wires":[["8f6bc1c1.91ee38"]]},{"id":"8f6bc1c1.91ee38","type":"file","z":"5a564dd4.ed064c","name":"Save to /Users/krittin/Desktop/em_logger.html","filename":"/Users/krittin/Desktop/em_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1100,"y":180,"wires":[[]]},{"id":"554f5ce3.0e6dd4","type":"ui_text","z":"5a564dd4.ed064c","group":"2338df17.82e9a","order":1,"width":0,"height":0,"name":"","label":"Sorce : ","format":"{{msg.payload}}","layout":"row-left","x":880,"y":480,"wires":[]},{"id":"cc32358d.4ae778","type":"function","z":"5a564dd4.ed064c","name":"Sent 's' (Source)","func":"msg.payload = global.get(\"s\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":480,"wires":[["554f5ce3.0e6dd4"]]},{"id":"9b02c853.31c2f","type":"function","z":"5a564dd4.ed064c","name":"Unpack JSON","func":"global.set(\"em\",msg.payload.em);\nglobal.set(\"s\",'Report Tab');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["fda5a4b4.d79c78","78b0f8d4.b2af68","e63c9dbb.69bb4","edcc8411.f226e8"]]},{"id":"8107e261.58311","type":"ui_table","z":"390f3385.b13d7c","group":"df843cf3.4e34a","name":"Emergency Text","order":1,"width":"12","height":3,"columns":[],"outputs":0,"cts":false,"x":520,"y":380,"wires":[]},{"id":"4fac9aaf.c31f54","type":"function","z":"371411bb.a068d6","name":"","func":"kun = global.get('fi_kun');\nif (kun < 2000){\n    msg.payload = {'aw1':1};\n}\nelse {\n    msg.payload = {'aw1':0};\n}\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":620,"wires":[["c8264f1a.49b6a8","a523a4f2.76e5f8"]]},{"id":"a523a4f2.76e5f8","type":"ui_gauge","z":"371411bb.a068d6","name":"","group":"511886c0.596688","order":1,"width":0,"height":0,"gtype":"gage","title":"Water kun","label":"0 = ใส 1 = ขุ่น","format":"{{msg.payload.aw1}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":640,"wires":[]},{"id":"d0284bfb.c9bed8","type":"http in","z":"d2af9eab.2fc5e","name":"Get Light status","url":"light_status","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["a33bf94b.1a69e8"]]},{"id":"f6f70602.c99d88","type":"http in","z":"d2af9eab.2fc5e","name":"Get fan status","url":"fan_status","method":"get","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["4b8d0626.097c98"]]},{"id":"25a5cb79.d73204","type":"ui_chart","z":"d2af9eab.2fc5e","name":"","group":"b76a97f3.75ef88","order":0,"width":"10","height":"12","label":"LIGHT GRAPH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#eff316","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":460,"wires":[[]]},{"id":"2c1cba29.13d1de","type":"http in","z":"d2af9eab.2fc5e","name":"Get sprinkler status","url":"sprinkler_status","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["a4b5e5a9.739f88"]]},{"id":"db21e2f8.3551d","type":"http in","z":"d2af9eab.2fc5e","name":"Get pump status","url":"pump_status","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["678308a.b237bf8"]]},{"id":"18221afc.ce778d","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"pl_light","method":"get","upload":false,"swaggerDoc":"","x":290,"y":480,"wires":[["aaf09d43.4f21a","e7559349.80de1"]]},{"id":"aaf09d43.4f21a","type":"http response","z":"d2af9eab.2fc5e","name":"","statusCode":"200","headers":{},"x":520,"y":440,"wires":[]},{"id":"e7559349.80de1","type":"split","z":"d2af9eab.2fc5e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":480,"wires":[["aff3693f.923e7"]]},{"id":"aff3693f.923e7","type":"change","z":"d2af9eab.2fc5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["25a5cb79.d73204","fab0ba19.426b88"]]},{"id":"285b249d.c3d91c","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"pl_temp","method":"get","upload":false,"swaggerDoc":"","x":290,"y":520,"wires":[["1c28991b.447017","aaf09d43.4f21a"]]},{"id":"1c28991b.447017","type":"split","z":"d2af9eab.2fc5e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":520,"wires":[["a3a08d7c.4d627"]]},{"id":"a3a08d7c.4d627","type":"change","z":"d2af9eab.2fc5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":520,"wires":[["155210d8.7bd7af","7b28cb05.971d34"]]},{"id":"155210d8.7bd7af","type":"ui_chart","z":"d2af9eab.2fc5e","name":"","group":"6d009dd7.29f714","order":2,"width":"10","height":"12","label":"TEMPERATURE GRAPH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":950,"y":540,"wires":[[]]},{"id":"fab0ba19.426b88","type":"ui_text","z":"d2af9eab.2fc5e","group":"b1534770.4de148","order":1,"width":"4","height":"2","name":"","label":"LIGHT:     ","format":"{{msg.payload}}","layout":"row-center","x":890,"y":420,"wires":[]},{"id":"7b28cb05.971d34","type":"ui_text","z":"d2af9eab.2fc5e","group":"ff9310c1.afce6","order":0,"width":"4","height":"2","name":"","label":"TEMPERATURE:","format":"{{msg.payload}}","layout":"row-center","x":930,"y":500,"wires":[]},{"id":"bb88fd20.e358a8","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"pl_humid","method":"get","upload":false,"swaggerDoc":"","x":300,"y":560,"wires":[["aaf09d43.4f21a","c30222e6.bbcef8"]]},{"id":"c30222e6.bbcef8","type":"split","z":"d2af9eab.2fc5e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":560,"wires":[["958daa9e.41c79"]]},{"id":"958daa9e.41c79","type":"change","z":"d2af9eab.2fc5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[["d2573130.2fe398","207bad4b.500f02","f9596f30.9a46e"]]},{"id":"d2573130.2fe398","type":"ui_text","z":"d2af9eab.2fc5e","group":"48703ce5.b2b7fc","order":0,"width":"4","height":"2","name":"","label":"HUMID:","format":"{{msg.payload}}","layout":"row-center","x":900,"y":580,"wires":[]},{"id":"207bad4b.500f02","type":"ui_chart","z":"d2af9eab.2fc5e","name":"","group":"f7776169.bf9908","order":1,"width":"10","height":"12","label":"HUMID GRAPH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":620,"wires":[[]]},{"id":"b4752ddc.1133e","type":"inject","z":"d2af9eab.2fc5e","name":"ACID-BASE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":600,"wires":[["e4fcd595.c17188"]]},{"id":"e4fcd595.c17188","type":"random","z":"d2af9eab.2fc5e","name":"","low":"0","high":"14","inte":"true","property":"payload","x":500,"y":600,"wires":[["d728959b.7de21","b7a38b5c.743408","a284379c.0d16d"]]},{"id":"d728959b.7de21","type":"ui_gauge","z":"d2af9eab.2fc5e","name":"","group":"1fdfd52d.1ed173","order":0,"width":0,"height":0,"gtype":"gage","title":"ACID-BASE","label":"units","format":"{{value}}","min":0,"max":"14","colors":["#e60505","#fec700","#0061ff"],"seg1":"6","seg2":"8","x":910,"y":700,"wires":[]},{"id":"b7a38b5c.743408","type":"ui_text","z":"d2af9eab.2fc5e","group":"db649ca5.bf9808","order":0,"width":"4","height":"2","name":"","label":"ACID-BASE:","format":"{{msg.payload}}","layout":"row-center","x":910,"y":740,"wires":[]},{"id":"a284379c.0d16d","type":"ui_chart","z":"d2af9eab.2fc5e","name":"","group":"aab6edd6.33d4f","order":0,"width":"10","height":"12","label":"ACID-BASE","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":780,"wires":[[]]},{"id":"f9596f30.9a46e","type":"ui_gauge","z":"d2af9eab.2fc5e","name":"","group":"734c0b12.6cc424","order":0,"width":0,"height":0,"gtype":"wave","title":"HUMID","label":"mmHg","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":660,"wires":[]},{"id":"462b06cf.f968f","type":"function","z":"d2af9eab.2fc5e","name":"","func":"msg.payload = global.get(\"light_status\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":60,"wires":[["b40f30a1.58dc68"]]},{"id":"a33bf94b.1a69e8","type":"function","z":"d2af9eab.2fc5e","name":"Unpack to light_status","func":"global.set(\"light_status\",msg.payload.light_status);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[[]]},{"id":"b40f30a1.58dc68","type":"http response","z":"d2af9eab.2fc5e","name":"","statusCode":"200","headers":{},"x":1100,"y":120,"wires":[]},{"id":"749ce501.59aaac","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"lightsw","method":"get","upload":false,"swaggerDoc":"","x":710,"y":60,"wires":[["462b06cf.f968f"]]},{"id":"4b8d0626.097c98","type":"function","z":"d2af9eab.2fc5e","name":"Unpack to fan_status","func":"global.set(\"fan_status\",msg.payload.fan_status);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[[]]},{"id":"a4b5e5a9.739f88","type":"function","z":"d2af9eab.2fc5e","name":"Unpack to sprinkler_status","func":"global.set(\"sprinkler_status\",msg.payload.sprinkler_status);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[[]]},{"id":"678308a.b237bf8","type":"function","z":"d2af9eab.2fc5e","name":"Unpack to pump_status","func":"global.set(\"pump_status\",msg.payload.pump_status);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[[]]},{"id":"3ea84d5c.00ab82","type":"function","z":"d2af9eab.2fc5e","name":"","func":"msg.payload = global.get(\"fan_status\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":100,"wires":[["b40f30a1.58dc68"]]},{"id":"f3031c59.e58248","type":"function","z":"d2af9eab.2fc5e","name":"","func":"msg.payload = global.get(\"sprinkler_status\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":140,"wires":[["b40f30a1.58dc68"]]},{"id":"8aeb1b80.caf4e8","type":"function","z":"d2af9eab.2fc5e","name":"","func":"msg.payload = global.get(\"pump_status\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":180,"wires":[["b40f30a1.58dc68"]]},{"id":"74bcd.25af3c33c","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"fansw","method":"get","upload":false,"swaggerDoc":"","x":710,"y":100,"wires":[["3ea84d5c.00ab82"]]},{"id":"b3318ad7.f252c8","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"spsw","method":"get","upload":false,"swaggerDoc":"","x":700,"y":140,"wires":[["f3031c59.e58248"]]},{"id":"ddfb44b4.add1","type":"http in","z":"d2af9eab.2fc5e","name":"","url":"pumpsw","method":"get","upload":false,"swaggerDoc":"","x":710,"y":180,"wires":[["8aeb1b80.caf4e8"]]},{"id":"1aefcc52.ab9b84","type":"http in","z":"24accc97.c62744","name":"","url":"dataout2_light","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["a0e3c46d.ac12b"]]},{"id":"a0e3c46d.ac12b","type":"function","z":"24accc97.c62744","name":"","func":"msg.payload = global.get(\"an_light\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["548f85ae.307c74"]]},{"id":"fe6809a.e8c8cf8","type":"http in","z":"24accc97.c62744","name":"","url":"lightin","method":"get","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["7824f07.202521"]]},{"id":"7824f07.202521","type":"function","z":"24accc97.c62744","name":"","func":"global.set(\"an_light\",msg.payload.an_light);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[[]]},{"id":"772a9003.b4bd18","type":"function","z":"24accc97.c62744","name":"","func":"var msg2 = {};\n\nmsg.topic = 'Light';\nmsg.payload = {'oh1':global.get('an_light')};\n\nmsg2.topic = 'Temp';\n//msg2.payload = {'oh2':global.get('an_temp')};\nmsg2.payload = global.get('an_temp');\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":200,"wires":[["158cc3ec.f0b644","7ac3bf1a.126e78"],["20dafdde.28af2a","c5552bd0.7d7678"]]},{"id":"158cc3ec.f0b644","type":"ui_gauge","z":"24accc97.c62744","name":"","group":"b58d0b45.89fce","order":1,"width":"5","height":"4","gtype":"gage","title":"Local Light","label":"","format":"{{msg.payload.oh1}}","min":0,"max":"100","colors":["#000000","#0000ff","#a8f9ff"],"seg1":"30","seg2":"60","x":1010,"y":100,"wires":[]},{"id":"858d9bfc.bb9058","type":"inject","z":"24accc97.c62744","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":200,"wires":[["772a9003.b4bd18"]]},{"id":"7ac3bf1a.126e78","type":"ui_gauge","z":"24accc97.c62744","name":"Local Light Exclusive","group":"be5f4bed.38318","order":1,"width":"8","height":"4","gtype":"gage","title":"Local Light","label":"","format":"{{msg.payload.oh1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":140,"wires":[]},{"id":"20dafdde.28af2a","type":"ui_chart","z":"24accc97.c62744","name":"Local Tem Exclusive","group":"be5f4bed.38318","order":3,"width":"8","height":"4","label":"Local Temperatures (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00c7fc","#ffb43f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1040,"y":180,"wires":[[]]},{"id":"18bc7fa2.0dc4d8","type":"http in","z":"24accc97.c62744","name":"","url":"tempin","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["27c66ee7.e26bb2"]]},{"id":"27c66ee7.e26bb2","type":"function","z":"24accc97.c62744","name":"","func":"global.set(\"an_temp\",msg.payload.an_temp);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[[]]},{"id":"4d6a6a54.07ea84","type":"http in","z":"24accc97.c62744","name":"","url":"dataout1_temp","method":"get","upload":false,"swaggerDoc":"","x":230,"y":420,"wires":[["9baf2049.87484"]]},{"id":"9baf2049.87484","type":"function","z":"24accc97.c62744","name":"","func":"msg.payload = global.get(\"an_temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["548f85ae.307c74"]]},{"id":"908368ea.fb54d","type":"http in","z":"24accc97.c62744","name":"","url":"fanin","method":"get","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["c9a4dc30.fdacc"]]},{"id":"20c8d30f.5758fc","type":"http in","z":"24accc97.c62744","name":"","url":"lampin","method":"get","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["3d91409d.091828"]]},{"id":"edba0824.93f3f8","type":"function","z":"24accc97.c62744","name":"","func":"msg.payload = global.get(\"an_fan\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":540,"wires":[["548f85ae.307c74"]]},{"id":"548f85ae.307c74","type":"http response","z":"24accc97.c62744","name":"","statusCode":"200","headers":{},"x":680,"y":440,"wires":[]},{"id":"5a298899.d682c","type":"function","z":"24accc97.c62744","name":"","func":"msg.payload = global.get(\"an_lamp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":580,"wires":[["548f85ae.307c74"]]},{"id":"b72b98a5.f8a81","type":"http in","z":"24accc97.c62744","name":"","url":"fanout","method":"get","upload":false,"swaggerDoc":"","x":210,"y":540,"wires":[["edba0824.93f3f8"]]},{"id":"e9147d93.b11ce","type":"http in","z":"24accc97.c62744","name":"","url":"lampout","method":"get","upload":false,"swaggerDoc":"","x":210,"y":580,"wires":[["5a298899.d682c"]]},{"id":"c9a4dc30.fdacc","type":"function","z":"24accc97.c62744","name":"","func":"global.set(\"an_fan\",msg.payload.an_fan);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[[]]},{"id":"3d91409d.091828","type":"function","z":"24accc97.c62744","name":"","func":"global.set(\"an_lamp\",msg.payload.an_lamp);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[[]]},{"id":"c5552bd0.7d7678","type":"ui_chart","z":"24accc97.c62744","name":"Local Tem","group":"b58d0b45.89fce","order":3,"width":"5","height":"4","label":"Local Temperatures (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00c7fc","#ffb43f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":220,"wires":[[]]},{"id":"4290f3eb.2cdc7c","type":"comment","z":"390f3385.b13d7c","name":"Table View","info":"","x":400,"y":140,"wires":[]},{"id":"3a87f967.61f496","type":"function","z":"752dfc88.dfa3dc","name":"","func":"var d = new Date();\nvar t = d.getTime();\n\nvar ha = {\n    \"pl_light\":global.get(\"pl_light\"),\n    \"pl_humid\":global.get(\"pl_humid\"),\n    \"pl_temp\":global.get(\"pl_temp\"),\n    \"pl_pH\":global.get(\"pl_pH\"),\n    \n    \"an_light\":global.get(\"an_light\"),\n    \"an_temp\":global.get(\"an_temp\"),\n    \n    \"fi_kun\":global.get(\"fi_kun\"),\n    \n    //\"home_light\":global.get(\"home_light\")\n};\npayload = [d,t,ha];\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["8e68682b.a9e7a"]]},{"id":"8e68682b.a9e7a","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/data_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":220,"wires":[[]]},{"id":"f25846cc.03b84","type":"inject","z":"752dfc88.dfa3dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["3a87f967.61f496","c4bfbe5d.9a35b8"]]},{"id":"c4bfbe5d.9a35b8","type":"function","z":"752dfc88.dfa3dc","name":"","func":"var d = new Date();\nvar t = d.getTime();\n\nvar allpack = {\n   \"pl_fan\":global.get(\"pl_lamp\"),\n    \"pl_lamp\":global.get(\"pl_lamp\"),\n    \"pl_sprin\":global.get(\"pl_sprin\"),\n    \n    \"an_fan\":global.get(\"an_fan\"),\n    \"an_lamp\":global.get(\"an_lamp\"),\n    \n    \"fi_tob\":global.get(\"fi_tob\"),\n    \"fi_pump\":global.get(\"fi_food\"),\n    \"fi_food\":global.get(\"fi_food\"),\n}\n\n\npayload = {\n    \"date\":d, \n    \"time\":t,\n    \"payload\":allpack\n}\n\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["48973c70.7c4744"]]},{"id":"48973c70.7c4744","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/control_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":260,"wires":[[]]},{"id":"bb879d49.066bc","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/control_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":660,"y":580,"wires":[[]]},{"id":"29a95365.5aad9c","type":"function","z":"752dfc88.dfa3dc","name":"","func":"msg.topic = 'Control logger deleted';\nmsg.payload = \"Control logger is now deleted.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":620,"wires":[["c8d66264.a73d18"]]},{"id":"c8d66264.a73d18","type":"ui_toast","z":"752dfc88.dfa3dc","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":620,"wires":[]},{"id":"ed49463a.13bdc","type":"ui_button","z":"752dfc88.dfa3dc","name":"","group":"b7d20b5b.081758","order":2,"width":0,"height":0,"passthru":false,"label":"Delete CONTROL logger","tooltip":"Click to Delete a control logger.","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":580,"wires":[["bb879d49.066bc","29a95365.5aad9c"]]},{"id":"f0f6fd76.4078f","type":"ui_button","z":"752dfc88.dfa3dc","name":"","group":"b7d20b5b.081758","order":2,"width":0,"height":0,"passthru":false,"label":"Delete ALL","tooltip":"Click to Delete a all loggers.","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":740,"wires":[["f4582a85.a09ac8","a75a08e9.a228a8","4e7cf64a.bd32f"]]},{"id":"f4582a85.a09ac8","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/data_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":630,"y":740,"wires":[[]]},{"id":"4e7cf64a.bd32f","type":"function","z":"752dfc88.dfa3dc","name":"","func":"msg.topic = 'ALL loggers deleted';\nmsg.payload = \"All logger is now deleted.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":820,"wires":[["1c675e8a.321961"]]},{"id":"1c675e8a.321961","type":"ui_toast","z":"752dfc88.dfa3dc","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":820,"wires":[]},{"id":"a75a08e9.a228a8","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/control_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":640,"y":780,"wires":[[]]},{"id":"2064b79b.3b883","type":"ui_button","z":"752dfc88.dfa3dc","name":"","group":"b7d20b5b.081758","order":2,"width":0,"height":0,"passthru":false,"label":"Delete data logger","tooltip":"Click to Delete a data logger.","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":400,"wires":[["9ee5ef2d.28ef58","1fbb4977.5e48b7"]]},{"id":"9ee5ef2d.28ef58","type":"file","z":"752dfc88.dfa3dc","name":"","filename":"/Users/krittin/Desktop/data_logger.html","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":610,"y":420,"wires":[[]]},{"id":"90c82030.7b30f","type":"ui_template","z":"752dfc88.dfa3dc","group":"b7d20b5b.081758","name":"","order":1,"width":0,"height":0,"format":"<style>\nh3 {text-align: center;}\nh5 {text-align: center;}\n</style>\n\n<h3>This action CANNOT be undone!!</h3>\n<h5>This button is ONE TIME click! </h5>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":290,"y":440,"wires":[[]]},{"id":"c870220e.535538","type":"ui_toast","z":"752dfc88.dfa3dc","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":640,"y":460,"wires":[]},{"id":"1fbb4977.5e48b7","type":"function","z":"752dfc88.dfa3dc","name":"","func":"msg.topic = 'Data logger deleted';\nmsg.payload = \"Data logger is now deleted.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":460,"wires":[["c870220e.535538"]]},{"id":"c400cf8a.c56bf","type":"comment","z":"752dfc88.dfa3dc","name":"Data logger of Datas and Controls","info":"","x":530,"y":160,"wires":[]},{"id":"d7548d87.15e268","type":"comment","z":"752dfc88.dfa3dc","name":"Clear datas logger","info":"","x":580,"y":380,"wires":[]},{"id":"821d31c4.a2f8e","type":"comment","z":"752dfc88.dfa3dc","name":"Clear controls logger","info":"","x":650,"y":540,"wires":[]},{"id":"bb2c8cfd.ac64e8","type":"comment","z":"752dfc88.dfa3dc","name":"Clear all loggers","info":"","x":600,"y":700,"wires":[]},{"id":"4cb22800.af6088","type":"comment","z":"371411bb.a068d6","name":"data in and out of fish","info":"","x":720,"y":100,"wires":[]},{"id":"fa70435e.b1f4e","type":"comment","z":"371411bb.a068d6","name":"Fish UI modules","info":"","x":680,"y":560,"wires":[]},{"id":"cc173426.3ff39","type":"http in","z":"371411bb.a068d6","name":"","url":"/controlout_fish","method":"get","upload":false,"swaggerDoc":"","x":510,"y":360,"wires":[["145fbe59.d4682a"]]},{"id":"145fbe59.d4682a","type":"function","z":"371411bb.a068d6","name":"","func":"msg.payload = global.get(\"fi_pump\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":360,"wires":[["3ba006b2.6ff1fa"]]},{"id":"3ba006b2.6ff1fa","type":"http response","z":"371411bb.a068d6","name":"/200","statusCode":"","headers":{},"x":940,"y":360,"wires":[]},{"id":"dd1d82bf.9270a8","type":"http in","z":"371411bb.a068d6","name":"","url":"controlin_fish","method":"get","upload":false,"swaggerDoc":"","x":510,"y":460,"wires":[["832c9612.a3d9b8"]]},{"id":"832c9612.a3d9b8","type":"function","z":"371411bb.a068d6","name":"","func":"global.set(\"fi_pump\",msg.payload.fi_pump);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":460,"wires":[["3ba006b2.6ff1fa"]]},{"id":"c9f8a031.18eec8","type":"comment","z":"371411bb.a068d6","name":"Control in and out of fish","info":"","x":760,"y":300,"wires":[]},{"id":"910c378.31f8b48","type":"http in","z":"371411bb.a068d6","name":"","url":"fish","method":"get","upload":false,"swaggerDoc":"","x":480,"y":800,"wires":[["b1fec275.83d64"]]},{"id":"b1fec275.83d64","type":"template","z":"371411bb.a068d6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\n    *{\n        margin: 0;\n        padding: 0;\n        font-family: 'Roboto', sans-serif;\n    }\n    .container{\n        width: 100%;\n        height: 100vh;\n        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://i.ibb.co/s2sC1K6/background.jpg);\n        background-position: center;\n        background-size: cover;\n        padding-left: 8%;\n        padding-right: 8%;\n        box-sizing: border-box;\n    }\n    .navbar{\n        height: 12%;\n        display: flex;\n        align-items: center;\n    }\n    .logo{\n        width: 150px;\n        cursor: pointer;\n    }\n    .menu-icon{\n        width: 30px;\n        cursor: pointer;\n        margin-left: 40px;\n    }\n    nav{\n        flex: 1;\n        text-align: right;\n    }\n    nav ul li{\n        list-style: none;\n        display: inline-block;\n        margin-left: 60px;\n    }\n    nav ul li a{\n        text-decoration: none;\n        color: #fff;\n        font-size: 13px;\n    }\n    .row{\n        display: flex;\n        height: 88%;\n        align-items: center;\n    }\n    .col{\n        flex-basis: 50%;\n    }\n    h1{\n        color: #fff;\n        font-size: 100px;\n        position: relative;\n        top: -203;\n        left: 60;\n    }\n    p{\n        color: #fff;\n        font-size: 11px;\n        line-height: 15px;\n    }\n    button{\n        width: 180px;\n        color: #000;\n        font-size: 12px;\n        padding: 12px 0;\n        background: #fff;\n        border: 0;\n        border-radius: 20px;\n        outline: none;\n        margin-top: 30px;\n    }\n    .marginn{\n      width: 500px;\n    height: 400px;\n    background: white;\n    position: relative;\n   top: 100;\n   left: -550;\n    }\n\n\n\n    .card{\n        width: 200px;\n        height: 230px;\n        display: inline-block;\n        border-radius: 10px;\n        padding: 15px 25px;\n        box-sizing: border-box;\n        cursor: pointer;\n        margin: 10px 15px;\n        background-position: center;\n        background-size: cover;\n        transition: transform 0.5s;\n    }\n    .card1{\n        background-image: url(https://i.ibb.co/T4GRMNx/000010.jpg);\n    }\n    .card2{\n        background-image: url(https://i.ibb.co/N3my8xr/pic-2.png);\n    }\n    .card3{\n        background-image: url(https://i.ibb.co/jzDkQz8/pic-3.png);\n    }\n\n    .card:hover{\n        transform: translateY(-10px);\n    }\n    h5{\n        color: #fff;\n        text-shadow: 0 0 5px #999;\n    }\n    .card p{\n        text-shadow: 0 0 15px #000;\n        font-size: 8px;\n    }\n    .bubbles img{\n        width: 50px;\n        animation: bubble 7s linear infinite;\n    }\n    .bubbles{\n        width: 100%;\n        display: flex;\n        align-items: center;\n        justify-content: space-around;\n        position: absolute;\n        bottom: -70px;\n    }\n\n    @keyframes bubble{\n        0%{\n            transform: translateY(0);\n            opacity: 0;\n        }\n        50%{\n            opacity: 1;\n        }\n        70%{\n            opacity: 1;\n        }\n        100%{\n            transform: translateY(-80vh);\n            opacity: 0;\n        }\n\n    }\n\n\n    .bubbles img:nth-child(1){\n        animation-delay: 2s;\n        width: 25px;\n    }\n    .bubbles img:nth-child(2){\n        animation-delay: 1s;\n    }\n    .bubbles img:nth-child(3){\n        animation-delay: 3s;\n        width: 25px;\n    }\n    .bubbles img:nth-child(4){\n        animation-delay: 4.5s;\n    }\n    .bubbles img:nth-child(5){\n        animation-delay: 3s;\n    }\n    .bubbles img:nth-child(6){\n        width: 20px;\n        animation-delay: 6s;\n    }\n    .bubbles img:nth-child(7){\n        width: 35px;\n        animation-delay: 7s;\n    }\n    .col button{\n        width: 200px;\n        height: 230px;\n        display: inline-block;\n        border-radius: 10px;\n        padding: 15px 25px;\n        box-sizing: border-box;\n        cursor: pointer;\n        margin: 10px 15px;\n        background-position: center;\n        background-size: cover;\n        transition: transform 0.5s;\n    }\n\n</style>\n<!DOCTYPE html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Pramong</title>\n    <link rel=\"stylesheet\" href=\"style.css\">\n\n\n    <link href=\"https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap\" rel=\"stylesheet\">\n</head>\n<body>\n\n    <div class=\"container\">\n        <div class=\"navbar\">\n            <img src=\"https://i.ibb.co/FVJjxgB/logo.png\" class=\"logo\">\n            <nav>\n                <ul>\n                    <li><a href=\"\">HOME</a></li>\n                    <li><a href=\"\">CONTENT</a></li>\n                    <li><a href=\"\">ABOUT</a></li>\n                </ul>\n            </nav>\n            <img src=\"https://i.ibb.co/pPHZwPk/menu.png\" class=\"menu-icon\">\n        </div>\n\n        <div class=\"row\">\n            <div class=\"col\">\n                <h1>Pramong</h1>\n                <p></p>\n            </div>\n            <div class=\"marginn\">\n                <iframe src=\"http://192.168.80.141:1880/ui/#!/3?socketid=by_w7RV6DE_05NIjAAA3\" width=\"400\" height=\"400\"></iframe>\n            </div>\n            <div class=\"col\">\n                <button class=\"card card3\" id=\"click1\"></button>\n            </div>\n        </div>\n        <div class=\"bubbles\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n            <img src=\"https://i.ibb.co/8jcH9kr/bubble.png\">\n        </div>\n    </div>\n</body>\n<script>\n    document.getElementById(\"click1\").addEventListener(\"click\", function() {\n        window.location.assign('http://192.168.80.141:1880/controlin_fish?fi_pump=1');\n\n    });\n</script>\n</html>\n","output":"str","x":640,"y":820,"wires":[["782b9ad8.39618c"]]},{"id":"782b9ad8.39618c","type":"http response","z":"371411bb.a068d6","name":"/200","statusCode":"","headers":{},"x":950,"y":820,"wires":[]},{"id":"2c2bb129.e3c976","type":"comment","z":"371411bb.a068d6","name":"Fish web page host","info":"","x":810,"y":780,"wires":[]},{"id":"e20ce59e.b7fb5","type":"comment","z":"d2af9eab.2fc5e","name":"contols and datas IN","info":"","x":250,"y":240,"wires":[]},{"id":"dc991a1b.82fc48","type":"comment","z":"d2af9eab.2fc5e","name":"contols and fatas OUT","info":"","x":880,"y":220,"wires":[]},{"id":"a2440e1e.b9419","type":"comment","z":"d2af9eab.2fc5e","name":"data out to UI modules","info":"","x":660,"y":400,"wires":[]},{"id":"244b4e4e.ec7f7a","type":"comment","z":"24accc97.c62744","name":"Control IN","info":"","x":340,"y":180,"wires":[]},{"id":"f9b73f4c.8f63b8","type":"comment","z":"24accc97.c62744","name":"animal UI modules","info":"","x":730,"y":140,"wires":[]},{"id":"a721bae6.916fc8","type":"comment","z":"24accc97.c62744","name":"Data IN","info":"","x":330,"y":40,"wires":[]},{"id":"54137799.6eb6c8","type":"comment","z":"24accc97.c62744","name":"Data OUT","info":"","x":380,"y":340,"wires":[]},{"id":"6b4ddbe1.c0fcfc","type":"comment","z":"24accc97.c62744","name":"Control OUT","info":"","x":350,"y":500,"wires":[]},{"id":"1a6f2f1b.596e61","type":"comment","z":"5a564dd4.ed064c","name":"emergency system","info":"","x":730,"y":80,"wires":[]},{"id":"ca7ab66a.608998","type":"comment","z":"5a564dd4.ed064c","name":"logger sub-system","info":"","x":1070,"y":140,"wires":[]},{"id":"ac480139.1dcf5","type":"comment","z":"5a564dd4.ed064c","name":"About Page Tab","info":"","x":640,"y":600,"wires":[]}]
