Volk's-new-node/Volk's-node
[{"id":"f66c09af.081088","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"83ebd500.510818","type":"http in","z":"f66c09af.081088","name":"","url":"dataout2_light","method":"get","upload":false,"swaggerDoc":"","x":230,"y":120,"wires":[["d260b970.428228"]]},{"id":"d260b970.428228","type":"function","z":"f66c09af.081088","name":"","func":"msg.payload = global.get(\"an_light\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["48738678.062848"]]},{"id":"ae9c693f.1a7f68","type":"http in","z":"f66c09af.081088","name":"","url":"lightin","method":"get","upload":false,"swaggerDoc":"","x":210,"y":200,"wires":[["34b8b6f4.44bf4a"]]},{"id":"34b8b6f4.44bf4a","type":"function","z":"f66c09af.081088","name":"","func":"global.set(\"an_light\",msg.payload.an_light);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[[]]},{"id":"31b18157.f8757e","type":"function","z":"f66c09af.081088","name":"","func":"var msg2 = {};\n\nmsg.topic = 'Light';\nmsg.payload = {'oh1':global.get('an_light')};\n\nmsg2.topic = 'Temp';\n//msg2.payload = {'oh2':global.get('an_temp')};\nmsg2.payload = global.get('an_temp');\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":280,"wires":[["d078e1ab.13302","cb410247.56bf7"],["ae3ca532.81e618","5853df06.e8e6a"]]},{"id":"d078e1ab.13302","type":"ui_gauge","z":"f66c09af.081088","name":"","group":"b58d0b45.89fce","order":1,"width":"3","height":"4","gtype":"gage","title":"Local Light","label":"","format":"{{msg.payload.oh1}}","min":0,"max":"100","colors":["#000000","#0000ff","#a8f9ff"],"seg1":"30","seg2":"60","x":890,"y":180,"wires":[]},{"id":"77bf586b.62e068","type":"inject","z":"f66c09af.081088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":280,"wires":[["31b18157.f8757e"]]},{"id":"cb410247.56bf7","type":"ui_gauge","z":"f66c09af.081088","name":"Local Light Exclusive","group":"be5f4bed.38318","order":1,"width":"4","height":"4","gtype":"gage","title":"Local Light","label":"","format":"{{msg.payload.oh1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":220,"wires":[]},{"id":"ae3ca532.81e618","type":"ui_chart","z":"f66c09af.081088","name":"Local Tem Exclusive","group":"be5f4bed.38318","order":3,"width":"4","height":"4","label":"Local Temperatures (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00c7fc","#ffb43f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":260,"wires":[[]]},{"id":"e3ce1daf.e78fa","type":"http in","z":"f66c09af.081088","name":"","url":"tempin","method":"get","upload":false,"swaggerDoc":"","x":210,"y":240,"wires":[["ca91dfad.ec84f"]]},{"id":"ca91dfad.ec84f","type":"function","z":"f66c09af.081088","name":"","func":"global.set(\"an_temp\",msg.payload.an_temp);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[[]]},{"id":"12096bca.d987d4","type":"http in","z":"f66c09af.081088","name":"","url":"dataout1_temp","method":"get","upload":false,"swaggerDoc":"","x":230,"y":160,"wires":[["c97a4407.1f9e68"]]},{"id":"c97a4407.1f9e68","type":"function","z":"f66c09af.081088","name":"","func":"msg.payload = global.get(\"an_temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":160,"wires":[["48738678.062848"]]},{"id":"f4bfe45d.c45bf8","type":"http in","z":"f66c09af.081088","name":"","url":"fanin","method":"get","upload":false,"swaggerDoc":"","x":200,"y":340,"wires":[["71d1524b.0038dc"]]},{"id":"99a3838d.c299a","type":"http in","z":"f66c09af.081088","name":"","url":"lampin","method":"get","upload":false,"swaggerDoc":"","x":210,"y":380,"wires":[["abb256fe.812188"]]},{"id":"2e78900b.1c85b","type":"function","z":"f66c09af.081088","name":"","func":"msg.payload = global.get(\"an_fan\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["48738678.062848"]]},{"id":"48738678.062848","type":"http response","z":"f66c09af.081088","name":"","statusCode":"200","headers":{},"x":680,"y":180,"wires":[]},{"id":"af0dc668.012398","type":"function","z":"f66c09af.081088","name":"","func":"msg.payload = global.get(\"an_lamp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["48738678.062848"]]},{"id":"224ef6ae.c30cba","type":"http in","z":"f66c09af.081088","name":"","url":"fanout","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["2e78900b.1c85b"]]},{"id":"6ebc0e55.84f35","type":"http in","z":"f66c09af.081088","name":"","url":"lampout","method":"get","upload":false,"swaggerDoc":"","x":210,"y":460,"wires":[["af0dc668.012398"]]},{"id":"fb6cdf59.4f9a3","type":"ui_switch","z":"f66c09af.081088","d":true,"name":"fan","label":"Fan Switch","tooltip":"","group":"be5f4bed.38318","order":2,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"on","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":640,"wires":[["cc91f7db.c17ce8"]]},{"id":"a3259ac1.54d158","type":"ui_switch","z":"f66c09af.081088","d":true,"name":"lamp","label":"Lamp Switch","tooltip":"","group":"be5f4bed.38318","order":0,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"on","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":370,"y":720,"wires":[["103639c8.942566"]]},{"id":"e8774f3f.222ad","type":"inject","z":"f66c09af.081088","d":true,"name":"","props":[{"p":"payload.an_fanon","v":"1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"init","x":210,"y":620,"wires":[["cc91f7db.c17ce8"]]},{"id":"b344d349.c7396","type":"inject","z":"f66c09af.081088","d":true,"name":"","props":[{"p":"payload.an_lampon","v":"1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"init","x":210,"y":740,"wires":[["103639c8.942566"]]},{"id":"71d1524b.0038dc","type":"function","z":"f66c09af.081088","name":"","func":"global.set(\"an_fan\",msg.payload.an_fan);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[[]]},{"id":"abb256fe.812188","type":"function","z":"f66c09af.081088","name":"","func":"global.set(\"an_lamp\",msg.payload.an_lamp);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[[]]},{"id":"cc91f7db.c17ce8","type":"function","z":"f66c09af.081088","d":true,"name":"","func":"var switchOn = context.get(\"switchOn\") || false;\n\n//message is from switch\nif(msg.topic === \"on\"){\n switchOn = msg.payload.an_fanon;\n // store the gate state \n context.set(\"switchOn\",switchOn);\n}\n// message is from other sources\nelse{\n if(switchOn === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"switchOn\"});\n // send through the original message\n return msg;\n }\n else{\n switchOn = msg.payload.an_fanoff;\n context.set(\"switchOff\",switchOn);\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"switchOff\"});\n }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":660,"wires":[[]]},{"id":"103639c8.942566","type":"function","z":"f66c09af.081088","d":true,"name":"","func":"var switchOn = context.get(\"switchOn\") || false;\n\n//message is from switch\nif(msg.topic === \"on\"){\n switchOn = msg.payload.an_lampon;\n // store the gate state \n context.set(\"switchOn\",switchOn);\n}\n\n// message is from other sources\nelse{\n switchOn = msg.payload.an_lampoff;\n if(switchOn === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"switchOn\"});\n // send through the original message\n return msg;\n }\n else{\n switchOn = msg.payload.an_lampoff;\n context.set(\"switchOff\",switchOn);\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"switchOff\"});\n }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":700,"wires":[[]]},{"id":"fe7501dd.92d8b","type":"inject","z":"f66c09af.081088","d":true,"name":"","props":[{"p":"payload.an_fanoff","v":"0","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"init","x":210,"y":660,"wires":[["cc91f7db.c17ce8"]]},{"id":"d8841d9e.a11e9","type":"inject","z":"f66c09af.081088","d":true,"name":"","props":[{"p":"payload.an_lampoff","v":"0","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"init","x":210,"y":700,"wires":[["103639c8.942566"]]},{"id":"5853df06.e8e6a","type":"ui_chart","z":"f66c09af.081088","name":"Local Tem","group":"b58d0b45.89fce","order":3,"width":"3","height":"4","label":"Local Temperatures (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00c7fc","#ffb43f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":300,"wires":[[]]},{"id":"b58d0b45.89fce","type":"ui_group","name":"Animal","tab":"17ba92b5.09dbad","order":3,"disp":true,"width":"5","collapse":false},{"id":"be5f4bed.38318","type":"ui_group","name":"Animal","tab":"1602204f.0f9bb","order":1,"disp":true,"width":"9","collapse":false},{"id":"17ba92b5.09dbad","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1602204f.0f9bb","type":"ui_tab","name":"Animal","icon":"adb","order":4,"disabled":false,"hidden":false}]
